:root {

  /*paleta de colores*/
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #858585;
  --color-blue: #3b7dcb;
  --color-lilac: #b66ecc;
  --color-lightBlack: #1d1d1d;

  /*tipografia*/
  --typographi: 'Geologica', sans-serif;
}


/*globales*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /*10px == 1rem*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}

image {
  width: 100%;
}